{% extends "base.html" %}
{% block content %}

    <table class="table">
        <thead>
        <th>Código</th>
        <th>Término</th>
        <th>Términologia</th>
        <th>Código de Relación</th>
        <th>Relación</th>

        </thead>
        {% for umls in umls_list %}
            <tr>
                <td>{{ umls.code }}</td>
                <td>{{ umls.term }}</td>
                <td>{{ umls.terminology }}</td>
                <td>{{ umls.code_rel }}</td>
                <td>{{ umls.term_rel }}</td>
            </tr>
        {% endfor %}
    </table>
    <a class="btn btn-default" href="{% url 'procesar' %}">Procesar</a>

{% endblock %}

